
form {
            margin-top: 10%;
            padding-top: 30px;
            margin-left: 30%;
            border: 3px solid #333;
            width: 50%;
            min-height: 500px;
            font-size: 20px;
            background-color: white;
        }

        input {
            margin-top: 7px;
            margin-bottom: 7px;
        }

        button {
            margin-top: 5%;
            width: 30%;
        }
        body {
            background-color: turquoise;
        }